{% extends "base.html" %}

{% block extra_head %}
<link rel="stylesheet" href="/static/react_scenario_builder.css">
{% endblock %}

{% block content %}
<div
    id="react-scenario-builder-root"
    data-api-url="{{ react_api_url }}"
    data-classic-url="{{ classic_page_url }}"
    data-list-url="{{ list_url }}"
></div>
{% endblock %}

{% block scripts %}
<script crossorigin src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>
<script src="/static/react_scenario_builder_page.js"></script>
{% endblock %}
