{% extends "react_base.html" %}

{% block content %}
<section class="react-page">
    <div
        id="react-employee-edit-root"
        data-api-url="{{ react_api_url }}"
        data-save-url="{{ react_save_url }}"
        data-list-url="{{ list_url }}"
        data-flash-message="{{ request.query_params.get('flash_message', '') }}"
        data-flash-type="{{ request.query_params.get('flash_type', '') }}"
    ></div>
</section>
{% endblock %}

{% block scripts %}
    <script type="module" src="/static/workspace_v2/employee-detail.js?v=9"></script>
{% endblock %}
