{% extends "base.html" %}

{% block extra_head %}
    <link rel="stylesheet" href="/static/workspace_v2/app.css?v=20">
    <style>
        .main > .container:has(#react-employees-root) {
            width: min(1960px, calc(100vw - 24px));
            max-width: min(1960px, calc(100vw - 24px));
        }
    </style>
{% endblock %}

{% block content %}
<section class="react-page">
    <div
        id="react-employees-root"
        data-api-base-url="{{ react_create_url }}"
        data-create-url="{{ react_create_url }}"
        data-classic-url="{{ classic_page_url }}"
        data-default-list-kind="{{ react_default_list_kind }}"
    ></div>
</section>
{% endblock %}

{% block scripts %}
    <script type="module" src="/static/workspace_v2/employees-list.js?v=20"></script>
{% endblock %}
